:root { 

  @font-face {
  font-family: 'Spectral-Bold';
  src: url('fonts/Spectral-Bold.ttf') format('truetype');
  font-weight: bold;
  /* Add more font properties if needed */
}

/* Define @font-face rule for Spectral-Regular */
@font-face {
  font-family: 'Spectral-Regular';
  src: url('fonts/Spectral-Regular.ttf') format('truetype');
  font-weight: normal;
  /* Add more font properties if needed */
}
  
  --black: #000000;
  --ceramic: #fcfcfc;
  --chicago: #5f5f5f;
  --gallery: #f0f0f0;
  --mariner: #1f67d6;
  --quick-silver: #a5a5a5;
  --tundora: #444444;
  --white: #ffffff;
 
  --font-size-l: 24px;
  --font-size-m: 16px;
  --font-size-s: 15px;
  --font-size-xl: 30px;
  --font-size-xs: 14px;
  --font-size-xxl: 48px;
  --font-size-xxs: 12px;
 
  --font-family-spectral-bold: "Spectral-Bold", Helvetica;
  --font-family-spectral-regular: "Spectral-Regular", Helvetica;
  --font-family-satoshi-bold: "Satoshi-Bold", Helvetica;
  --font-family-satoshi-medium: "Satoshi-Medium", Helvetica;
  --font-family-satoshi-regular: "Satoshi-Regular", Helvetica;
}
.subtitles {
  font-family: var(--font-family-spectral-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.satoshi-regular-normal-chicago-16px {
  color: var(--chicago);
  font-family: var(--font-family-satoshi-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.athelas-regular-normal-white-70px {
  color: var(--white);
  font-family: var(--font-family-spectral-regular);
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
}

.satoshi-regular-normal-gallery-15px {
  color: var(--gallery);
  font-family: var(--font-family-satoshi-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.satoshi-medium-mariner-63px {
  color: var(--mariner);
  font-family: var(--font-family-satoshi-medium);
  font-size: 63px;
  font-style: normal;
  font-weight: 500;
}

.satoshi-regular-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-satoshi-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.satoshi-regular-normal-quick-silver-14px {
  color: var(--quick-silver);
  font-family: var(--font-family-satoshi-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}
